<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-jndi-demo:war">
    <output-path>$PROJECT_DIR$/jndi/target</output-path>
    <root id="archive" name="spring-mvc-jndi-demo-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-mvc-jndi-demo:war exploded" />
    </root>
  </artifact>
</component>